@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

:root{
    --font: 'Nunito Sans', sans-serif;
    --DarkBlue_DarkModeElements: hsl(209, 23%, 22%);
    --VeryDarkBlue_DarkModeBackground: hsl(207, 26%, 17%);
    --VeryDarkBlue_LightModeText: hsl(200, 15%, 8%);
    --DarkGray_LightModeInput: hsl(0, 0%, 52%);
    --VeryLightGray_LightModeBackground: hsl(0, 0%, 98%);
    --White_DarkModeText_LightModeElements: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: var(--font);
    background-color: var(--VeryLightGray_LightModeBackground);
    color: var(--VeryDarkBlue_LightModeText);
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-wrapper{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.theme-changer{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 15px;
}
section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-filter{
    margin-top: 4rem;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.search{
    width: 400px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    overflow: hidden;
    background-color: #fff;
}
.search input{
    width: 100%;
    outline: 0;
    border: 0;
    font-size: 15px;
    padding: 17px 50px;
    letter-spacing: .5px;
}
.search input::placeholder{
    color: var(--DarkGray_LightModeInput);
}
.search i{
    position: absolute;
    top: 1.1rem;
    left: 1rem;
    color: var(--DarkGray_LightModeInput);
}
.filter-by-region{
    width: 250px;
    padding: 16px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 4px;
    background-color: var(--elements-color-white);
    color: var(--text-color-dark);
}
.countries-container{
    margin-top: 4rem;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3.5rem;
    justify-content: space-between;
    margin-inline: auto;
}
.countries-container .country{
    width: 250px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    background-color: var(--elements-color);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.countries-container .country img{
    width: 100%;
    height: 150px;
}
.country .country-info{
    padding: 15px;
}
.country-info h3{
    margin-bottom: 10px;
}
.country-info p{
    margin-top: 4px;
}
.country:hover{
    transform:scale(1.02);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

body.dark{
    background-color: var(--VeryDarkBlue_DarkModeBackground);
    color: var(--White_DarkModeText_LightModeElements);
}
body.dark header,body.dark .theme-changer{
    background-color: var(--VeryDarkBlue_DarkModeBackground);
    color: var(--White_DarkModeText_LightModeElements);
}
body.dark .search input{
   background-color: var(--DarkBlue_DarkModeElements);
   border-radius: 5px;
   color: var(--White_DarkModeText_LightModeElements);
}
body.dark .search i{
    color: var(--White_DarkModeText_LightModeElements);
}
body.dark .country{
    background-color: var(--DarkBlue_DarkModeElements);
}



.active{
    display: none;
}

@media only screen and (max-width:450px){
   header h2,h3{
    font-size: 15px;
   }
   .countries-container{
    display: flex;
    align-items: center;
    justify-content: center;
   }

}